#piano {
    position: relative;
    width: 58%;
    max-width: 700px;
    height: 380px;
    margin: 0 auto;
}

/* Container */
.white-keys {
    display: flex;
    height: 100%;
    border: #cecece 1px solid;
}

/* White keys */
.key {
    flex: 1;
    background: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
    /* smooth for key press effect */
}

.key:hover {
    background: #7cbfdf;
}

.key:active {
    background: #7cbfdf;
    transform: translateY(4px);
    /* Simulate key press by moving it down */
}

/* Black keys */
.key.black {
    position: absolute;
    top: 0;
    width: 6%;
    height: 63%;
    background: black;
    color: white;
    /* above white keys */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;

}

.key.black:hover {
    background: #555;
}

.key.black:active {
    background: #555 !important;
    transform: translateY(4px);
}

/* Positioning black keys relative to white keys */
#keyCis {
    left: 11.4%;
}

#keyDis {
    left: 25.8%;
}

#keyFis {
    left: 54.3%;
}

#keyGis {
    left: 68.3%;
}

#keyAis {
    left: 82.8%;
}

#note-line {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}